.poke-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
@media screen and (max-width: 1200px) {
    .poke-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .poke-list{
        grid-template-columns: 1fr;
    }
}